@import url("https://fonts.googleapis.com/css?family=Merienda");

#skillCanvasContainer h1 {
    color: #fff;
}
#skillCanvasContainer {
  display: flex;
}
#skillCanvasContainer #skillCanvas {
  margin: auto;
}
